.aboutContainer {
    display: flex;
    flex-direction: column;
    color: #f7f7f7;

    margin-top: 7rem;
}


.upperAbout {
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}


.upperAboutLeft {
    flex: 1;
}


.upperAboutRight {
    flex: 1;
}



/*  this the director editing */



.directorsContainer {
    display: flex;
    flex-direction: column;
    background-color: #004047;
    padding-left: 10rem;
    padding-right: 10rem;
}

.directorsGalleries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}


.clientsContainer {
    padding-left: 10rem;
    padding-right: 10rem;
}