.aboutContainer {
    display: flex;
    flex-direction: column;
    color: #f7f7f7;
    background-color: #2c6269;
    margin-top: 7rem;
}

/*  */

.upperAbout {
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
}


.upperAboutLeft {
    flex: 1;
}


.upperAboutRight {
    flex: 2;
}

.upperAboutRight p {
    line-height: 32px;
}



.upperAboutLeft h1 {
    font-size: clamp(39px, 48px, 49px);
    font-weight: 900;
    margin-bottom: 8rem;
}



/*  this the director editing */



.directorsContainer {
    display: flex;
    flex-direction: column;
    background-color: #3f7a81;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-items: center;
    text-align: center;
    padding-bottom: 8rem;
}


.directTop {
    font-size: clamp(39px, 48px, 49px);
    font-weight: 900;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.directorsGalleries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    row-gap: 3rem;

}


.clientsContainer {
    display: flex;
    flex-direction: column;
    background-color: #014356;
    justify-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}


.clientsContainer h1 {
    margin-bottom: 4.5rem;
    font-size: clamp(35px, 44px, 45px);
    font-weight: 900;
    justify-items: center;
    color: #fff;
}

.clientsContainer ul {
    display: flex;
    gap: 4.5rem;
    padding-bottom: 5rem;

}

/* director gallery img */


.directorGallery {

    width: 375px;
    background: #014356;
    font-style: italic;
    outline: none;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    position: relative;
    padding-bottom: 4rem;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
}


.directorGallery button {
    cursor: pointer;
}

.avatarDi {
    height: 85px;
    border-radius: 45%;
    object-fit: cover;
    width: 85px;
    align-self: center;
    border: solid 2px #79c8c7;
}


.directorGallery h1 {
    font-weight: 900;
    font-size: clamp(14px, 16px, 16px);
    margin-top: 1rem;
    margin-bottom: .2rem;
    color: #f7f7f7;
}


.cross {
    background-color: #FF7F7F;
    border: none;
    outline: none;
    padding: 1.8rem;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    /* place at bottom edge */
    left: 50%;
    /* move to center horizontally */

    transform: translate(-50%, -50%);
    /* center + half outside */

    z-index: 2;
}