@import "tailwindcss";

:root {
  --superDarkTeal: #002529;
  --superDark2Teal: #012F34;
  --MediumTeal: #004047;
  --MediumTeal2: #014356;
  --LightTeal: #2c6269;
  --RegularTeal: #79c8c7;
  --pink: #FF7F7F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {}
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--LightTeal);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}