.upperHeader {
    display: flex;
    margin-top: 8rem;
    gap: 3rem;
    position: relative;
    overflow: hidden;
    height: fit-content;

}

.thisupperHone {
    font-size: 92px;
    padding-left: 10rem;
    flex: 1;
    font-weight: 700;
    color: #fafafa;
    padding-bottom: 10rem;
}

.thisupperHone span {
    color: #FF7F7F;
}


.thisupperPara {
    padding-right: 10rem;
    flex: 1;
}


.bg-pattern-homePatternOne {
    position: absolute;
    top: 10px;
    left: -8%;
}


.bg-pattern-homeTwo {
    position: absolute;
    top: 80%;
    left: 70%;
}


.thisupperPara {
    display: flex;
    flex-direction: column;
    padding-top: .4rem;
    justify-content: stretch;


}

.thisupperPara p {

    color: #fafafa;
    padding: 2rem;
    justify-self: center;
    margin-top: 4rem;
    line-height: 35px;



}

/* end up the upperHome section */


/* start of the midHeader */



.midHeader {
    background-color: #012F34;
    height: 100vh;
    width: 100%;
    color: #fafafa;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    padding-top: 9rem;
    padding-bottom: 8rem;

}




.leftY {
    padding-left: 10rem;
    flex: 1;
}

.leftY h1 {
    font-size: 54px;
    line-height: 52px;
    font-weight: 700;

}



.rightyyIcons {
    padding-right: 10rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rightyyIcons .Icons {
    display: flex;
    gap: 35px;
}

.rightyyIcons img {
    object-fit: contain;
    width: auto;
    height: 5rem;
}

.IconsHone h2 {
    margin-bottom: 1rem;
    color: #FF7F7F;
    font-weight: 700;
    font-size: 24px;
}

.IconsHone p {
    line-height: 32px;
    color: #fafafa;
}


/* end MidContent */

.homeEnd {
    height: 100vh;
    padding: 8rem;
    margin-bottom: 10rem;
    color: #fafafa;
    overflow: hidden;
    position: relative;
}


.homeEnd p {
    line-height: 35px;
}

.gallerySuccess {
    height: fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3.5rem;
    justify-content: center;
}

.successStory img {
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    border: solid 4px #79c8c7;
    margin-top: 2rem;
    height: 7rem;
    width: 7rem;
}

.successStory h3 {
    color: #79c8c7;
    font-weight: 700;
    font-size: 20px;
    margin-top: 1rem;
}

.homeEnd h1 {
    text-align: center;

}



.titleName {
    font-size: clamp(35px, 40px, 42px);
    font-weight: 700;
    color: #fafafa;
    margin-bottom: 4rem;
}

.titleName span {
    color: #79c8c7;
}